html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: rgb(48, 188, 237);

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
