body {
  margin: 0;
  background: rgb(48, 188, 237);
  /* width: 100vw;
  height: 100vh; */

  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
