* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  background-color: #bbdefb;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
